spring:
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3310/user_service
#    username: zingmp3
#    password: zingmp3
  application:
    name: user-service
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: zing-mp3-api
            client-secret: nGZ3VfUaC8CrnmSEs8wK1J15M4PY1lUD
server:
  port: 0
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eureka:password@localhost:8761/eureka

keycloak:
  url: http://localhost:8080