spring:
  application:
    name: discovery-service
server:
  port: 8761

eureka:
  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true

management.endpoint.health.enabled: true
management.endpoints.web.exposure.include: "health"
